<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>注销账号</title>
    <link rel="shortcut icon" href="/image/favicon.ico">
    <link rel="stylesheet" href="//g.alicdn.com/msui/sm/0.6.2/css/sm.min.css">
    <link rel="stylesheet" href="//g.alicdn.com/msui/sm/0.6.2/css/sm-extend.min.css">
</head>
<body>
<div class="page-group">
    <div id="page-label-input" class="page">
        <header class="bar bar-nav">
            <a href="/views/security/toRegister" class="button button-link button-nav pull-left " >
                <span class="icon icon-left"></span>
                返回
            </a>
            <h1 class="title">注销账号</h1>
        </header>
        <div class="content">
            <div>
                <br><br><br><br><br>
                <p><center><label><font size=45>账号已注销</font> </label></center>
                <center><label><font size=48>感谢你的使用</font> </label></center>
            </div>
        </div>
    </div>
</div>


<script type='text/javascript' src='//g.alicdn.com/sj/lib/zepto/zepto.min.js' charset='utf-8'></script>
<script type='text/javascript' src='//g.alicdn.com/msui/sm/0.6.2/js/sm.min.js' charset='utf-8'></script>
<script type='text/javascript' src='//g.alicdn.com/msui/sm/0.6.2/js/sm-extend.min.js' charset='utf-8'></script>
</body>
</html>