<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>修改新用户名</title>
    <link rel="shortcut icon" href="/image/favicon.ico">
    <link rel="stylesheet" href="//g.alicdn.com/msui/sm/0.6.2/css/sm.min.css">
    <link rel="stylesheet" href="//g.alicdn.com/msui/sm/0.6.2/css/sm-extend.min.css">
    <link rel="stylesheet" href="/css/user/change-name.css">
</head>
<body>
<header class="bar bar-nav">
    <h1 class='title'>更换用户名</h1>
</header>
<div class="content">
    <div class="list-block">
        <ul>
            <!-- 新用户名 -->
            <li>
                <div class="item-content">
                    <div class="item-media"><i class="icon icon-form-name"></i></div>
                    <div class="item-inner">
                        <div class="item-title label">新用户名</div>
                        <div class="item-input">
                            <input id="username" type="text" placeholder="用户名">
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div class="content-block">
        <div class="row">
            <div class="col-50"><a id="back" href="#" class="button button-big button-fill button-danger">返回</a></div>
            <div class="col-50"><a id="submit" href="#" class="button button-big button-fill button-success">确定</a></div>
        </div>
    </div>
</div>
<script type='text/javascript' src='//g.alicdn.com/sj/lib/zepto/zepto.min.js' charset='utf-8'></script>
<script type='text/javascript' src='//g.alicdn.com/msui/sm/0.6.2/js/sm.min.js' charset='utf-8'></script>
<script type='text/javascript' src='//g.alicdn.com/msui/sm/0.6.2/js/sm-extend.min.js' charset='utf-8'></script>
<script src="/js/user/change-name.js"></script>
</body>
</html>